<!DOCTYPE HTML>

<html>
	<head>
		<title>Login Task App</title>
		<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
		<script src="https://kit.fontawesome.com/a81368914c.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1">
       <style>
		.background {
    		background-color: #4cd963;
    		color: white;
            padding-bottom: 20px;
            padding-top: 50px;
		}
		h1{
            padding-top: 20px;
            background-color: #4cd963;
			text-align: center;
			width: 100%;
			min-width:  100%;
		}
		h3{
            background-color: #4cd963;
			font-size: x-large;
		}
		.image{
            background-color: #4cd963;
			max-width: 50%;
    		margin: 0 auto;
    		display: block;
		}
        P{
            font-size: large;
            margin-bottom: 0;
        }
		p,h3{
            background-color: #4cd963;
			text-align: center;
		}
        h3{
            color: #0000EE;
			margin-top: 0;
        }
		.row{
			text-align: center;
		}
		a{
			text-decoration: none;
		}
	</style>
	</head>
	
<body>
    <div class="background">
	<div class="row">
		<img class="image" src="cid:logo">
	</div>
    <p>Your new password</p>
    <h3>{{password}}</h3>
    <a href="www.google.com">Open Taskinator</a>
    </div>
</body>

</html>